
body { 
    width: 1000px;
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header" 
    "menu menu"
    "section aside"
    "footer footer";
	grid-template-rows: 100px 80px auto 80px;
	grid-template-columns: 3fr 1fr ;
	grid-gap: 3px;
    margin: 10px auto;  
}

header {
	background: orange;
	grid-area: header;
}
#logo {
    margin: 10px auto;
}

.loge span {
	margin-bottom: 100px;
}
menu {
	background: orangered;
	grid-area: menu;
    margin: 0px;
}


aside {
	background: orange;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 610px;
	grid-area: aside; 
}
.login {
    height: 150px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px;
}
.weather {
    height: 150px;
    border-style: solid;
    border-width: 2px; 
    margin-bottom: 5px;
}
.hot-issue-rank{
    height: 300px;
    border-style: solid;
    border-width: 2px; 
}


footer {
	background: orangered;
	grid-area: footer;
}


/* 내용 부분 페이지 마다 달라짐 */
section {
    display: flex;
    flex-direction : column;
	background: #ABABAB;
	grid-area: section;    
}

.headline:after {
  color: #808;
  font-weight: bold;
  font-family: courier;
}



header, section, aside, menu, footer {
	padding: 5px;
}


