
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Stylish&display=swap');
body { 
    width: 1000px;
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header" 
    "menu menu"
    "section aside"
    "footer footer";
	grid-template-rows: 100px 60x auto 80px;
	grid-template-columns: 750px 250px ;
	grid-gap: 3px;
    margin: 10px auto;  
}

#body {
	margin: 10px auto; 
}

header {
	background: #fff;
	grid-area: header;
}
.logo {
	color : #000;
    text-align: center;
    margin: 5px auto;
}


aside {
	background-color:#fff;
	display: flex;
    flex-direction: column;
	grid-area: aside; 
}
.login {
	text-align: center;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px; 
}
.weather {
    height: 150px;
    border-style: solid;
    border-width: 2px; 
    margin-bottom: 5px;
}
.weather > div {
	margin:0 auto;
	text-align: center;
}
.hot-issue-rank{
    height: 325px;
    border-style: solid;
    border-width: 2px; 
}


.footer {
	background: orangered;
	grid-area: footer;
	text-align: center;
	font-size: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer > div {
	height : 60%;
	
}

header,  footer {
	padding: 5px;
}


/*       메뉴 판 CSS        */
menu {
	color: #fff;
	background-color:orange;
	grid-area: menu; 
    background-color: orange;
    margin: 0 0 0 0;
}

.menu {
	width: 100%;
	height: 40px;
	padding-left: 10px;
	z-index: 1;
}

.navi { 
	display: inline-block;
	margin-left: 35px;
}

.navi>li {
	display:block;
	float:left;
	height: 40px;
	list-style: none;
	text-align: center;
	border-left: solid 1px;

}

.navi > li > div {
	display:block;
	height: 40px;
	width: 120px; 
	padding-top: 11px;
}

.navi > li > div > a {
	
	line-height: 15px;
	font-size: 20px;
	text-align: center;
	color:#ffffff;
	text-decoration: none;
	font-family: 'Black Han Sans' ,Stylish, sans;
	
}

.navi>li>div:hover {
	background-color: #30a3f3;
}



section {
    display: flex;
	/* background: #ABABAB; */
	grid-area: section;
	flex-direction: column;
	padding : 2px;    
}

.card img {
	height: 180px;
}
.card {
	width : 244.33px;
	height : 360px; 
	float : left;
	margin : 2px; 
}

.card {
	margin: 10px auto 10px;
}


.head-line {
	width : 740px;
	height: 400px;
	border: solid 1px;
	margin: 3px auto 5px;
	background-color: #fff;
	border-radius: 5px;
}

/* weatherPage  */

.weather-section {
	margin:3px auto;
}

#mapList {
	display:inline;
	float: left;
	height : 300px;
	width : 110px;
	overflow: auto;
	margin:5px 0 0 0;
	font-size:14px;
}

#mapList2 {
	margin-left: 10px;
	float: left;
	width : 110px;
}

#detail-info{
	width : 200px;
	float: right;
	display:inline-block;
	text-align: center;
	margin : 0 auto;
}

.APIresult {
	width : 200px;
}

.weather-title {
	text-align: center;
	font-size: 30px;
}
tr {
	margin: 5px;
}


.articleViewSection {
	width: 740px;
	padding : 5px;
	margin: 0 auto;
	border: solid 1px;
}

.articleImg {
	width: 720px;
	height: 480px;
	margin: 3px auto;
	border: solid 1px;
}

.articleInfo {
	color: gray;
}

/* 댓글창 CSS */

.reply-section {
	margin: 0 auto;
	padding-left: 15px;
	width: 700px;
	border: 1px solid;
}

.reply-insert {
	width: 690px;
	height: 280px;
	border: 1px solid;
	border-radius: 4px;
	border-color: orange;
	background-color: #fff;
	margin: 5px auto;
}

.reply-insert textarea {
	width: 100%;
	height: 180px;
	border-radius: 4px;
	resize: none;
	margin: 5px auto;
	border-color: orange;
	background-color: #fff;
}

hr {
	width: 95%;
	margin: 2px auto 2px;
	background-color: #fff;
	margin: 2px auto 2px;
}

hr.type1 {
	width: 100%;
	margin: 2px auto 2px;
	background-color: #fff;
	margin: 2px auto 2px;
}

.re-write-space {
	width: 95%;
	margin: 5px auto 9px;
}

.id-space {
	color: #000;
	font-size: 15px;
}

.writebutton {
	background-color: #fff;
	font-size: 3px;
	float: right;
	margin: 0 0 0 100px;
}
#type1writebutton {
	background-color: #fff;
	font-size: 3px;
	float: right;
	margin: 0 29px 0 ;
	
}

.sort-list {
	text-align: center;
}

.type1-reply {
	display: none;
}

.type1-text-space {
	width : 100%;
	resize : none;
}

























